<ol>
	<% @stories.order(:up_votes).reverse.each do |story| %>
		<li>
			<a href="<%= story.link %>"><%= story.title %></a><br />
			<span class='small_gray'>
				<a href="/upvote/<%= story.id %>"><img src="https://news.ycombinator.com/grayarrow.gif" alt="up arrow" /></a><%= story.up_votes %> | <%= story.created_at %> | <a href="/<%= story.id %>/delete">DELETE</a> | <a href="/<%= story.id %>/edit">EDIT</a> | <a href="/item/<%= story.id %>"><%= story.comments.count %> Comments</a>
			</span>
		</li>
	<% end %>
</ol>